www.adamnor.com {
	redir https://adamnor.com{uri}
}

adamnor.com {
	root * /srv/sites/landing-page
	file_server
}

jellyfin.adamnor.com {
	reverse_proxy jellyfin:8096
}

status.adamnor.com {
	reverse_proxy uptime-kuma:3001
}

deluge.adamnor.com {
	root * /srv/sites/soon
	file_server
	# reverse_proxy deluge:8112
}

radarr.adamnor.com {
	root * /srv/sites/soon
	file_server
	# reverse_proxy radarr:7878
}

sonarr.adamnor.com {
	root * /srv/sites/soon
	file_server
# 	reverse_proxy sonarr:8989
}

# jackett.adamnor.com {
# 	reverse_proxy jackett:9117
# }

