(main) {
	tls /etc/ssl/certs/certificate.pem /etc/ssl/private/key.pem {
		client_auth {
			mode require_and_verify
			trusted_ca_cert_file /etc/ssl/certs/cert.origin-pull.pem
		}
		# dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}


www.adamnor.com {
	import main
	import /etc/caddy/caddy_security.conf
	redir https://adamnor.com{uri}
}

adamnor.com {
	import main
	import /etc/caddy/caddy_security.conf
	root * /srv/sites/landing-page
	file_server
}

jellyfin.adamnor.com {
	import main
	import /etc/caddy/caddy_security.conf
	reverse_proxy localhost:8096

}

status.adamnor.com {
	import main
	import /etc/caddy/caddy_security.conf
	reverse_proxy localhost:3001
}
