* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

body {
  background-color: rgb(27, 27, 27);
  // background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

#wrapper {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-areas:
    ". hero hero ."
    ". services services .";
  row-gap: 150px;
}

#hero {
  grid-area: hero;
  font-size: 1.2em;
}

#services {
  grid-area: services;
  img {
    object-fit: contain;
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 2em;
  row-gap: 2em;

  a {
    text-decoration: none;
    color: white;
    .service {
      display: grid;
      grid-template-columns: 5% 1fr 5%;
      grid-template-rows: 5% auto minmax(150px, 1fr) 5%;
      justify-items: center;
      border-radius: 10px;
      background: rgba(97, 96, 96, 0.5);
      backdrop-filter: blur(5px);
      .child {
        grid-column-start: 2;
      }
      .text-container {
        grid-row-start: 2;
      }
      .img-container {
        grid-row-start: 3;
      }
      transition: all 250ms ease-in-out;
      &:hover {
        background: rgba(201, 200, 200, 0.5);
      }
    }
  }
}
